<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <custom-tab (selectedTabEvent)="onTabChange($event)"></custom-tab>
  <ng-container *ngIf="data">
    <ng-container *ngIf="data.length > 0"; else emptyMessage></ng-container>
    <div *ngFor="let item of data | categoryFilter:selectedTab as items"></div>
  </ng-container>
  <ng-template #emptyMessage>
    No {{displaySelectedMap[selectedTab]}} items.
  </ng-template>
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<router-outlet></router-outlet>
